In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv(r"E:\Gentle Hero\python_course\chapter 42 scikit-learn\datasets\archive\Marvel_Analysis.csv")
df.head()

,MCU_Phase,Film_Title,US_Release_Date,Director_Names,Screenwriter_Names,Producer_Names,Budget_Million_Dollars,Opening_Weekend_WW_Million_Dollars,Box_Office_US_CAN_Million_Dollars,Box_Office_Other_Territories_Million_Dollars,Box_Office_WW_Million_Dollars,IMDb_Rating,Metacritic_Score,Tomatometer_Score,Audience_Score,Average_Score
0,Phase I,Iron Man,"May 2, 2008",Jon Favreau,Mark Fergus & Hawk Ostby and Art Marcum & Matt...,Avi Arad and Kevin Feige,140.0,99.0,319.0,267.0,586.0,7.9,79.0,94.0,91.0,8.6
1,Phase I,The Incredible Hulk,"Jun 13, 2008",Louis Leterrier,Zak Penn,"Avi Arad, Gale Anne Hurd, and Kevin Feige",150.0,55.0,135.0,130.0,265.0,6.6,61.0,67.0,69.0,6.6
2,Phase I,Iron Man 2,"May 7, 2010",Jon Favreau,Justin Theroux,Kevin Feige,200.0,128.0,312.0,312.0,624.0,6.9,57.0,72.0,71.0,6.7
3,Phase I,Thor,"May 6, 2011",Kenneth Branagh,Ashley Edward Miller & Zack Stentz and Don Payne,Kevin Feige,150.0,66.0,181.0,269.0,449.0,7.0,57.0,77.0,76.0,7.0
4,Phase I,Captain America: The First Avenger,"Jul 22, 2011",Joe Johnston,Christopher Markus & Stephen McFeely,Kevin Feige,140.0,65.0,177.0,194.0,371.0,6.9,66.0,80.0,75.0,7.3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 16 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   MCU_Phase                                     40 non-null     object
 1   Film_Title                                    40 non-null     object
 2   US_Release_Date                               40 non-null     object
 3   Director_Names                                40 non-null     object
 4   Screenwriter_Names                            39 non-null     object
 5   Producer_Names                                37 non-null     object
 6   Budget_Million_Dollars                        33 non-null     float64
 7   Opening_Weekend_WW_Million_Dollars            33 non-null     float64
 8   Box_Office_US_CAN_Million_Dollars             33 non-null     float64
 9   Box_Office_Other_Territories_Million_Dollars  33 non-null     float64
 10  Box_Office_WW_Million_Dollars                 33 non-null     float64
 11  IMDb_Rating                                   33 non-null     float64
 12  Metacritic_Score                              33 non-null     float64
 13  Tomatometer_Score                             33 non-null     float64
 14  Audience_Score                                33 non-null     float64
 15  Average_Score                                 33 non-null     float64
dtypes: float64(10), object(6)
memory usage: 5.1+ KB

In [7]:
df.describe()

,Budget_Million_Dollars,Opening_Weekend_WW_Million_Dollars,Box_Office_US_CAN_Million_Dollars,Box_Office_Other_Territories_Million_Dollars,Box_Office_WW_Million_Dollars,IMDb_Rating,Metacritic_Score,Tomatometer_Score,Audience_Score,Average_Score
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,216.545455,254.484848,356.030303,546.969697,904.454545,7.248485,66.545455,81.090909,84.090909,7.615152
std,76.913137,238.091254,192.268934,381.649830,558.181875,0.695576,8.975978,13.041673,10.536732,0.849309
min,130.000000,46.000000,84.000000,122.000000,206.000000,5.500000,48.000000,46.000000,45.000000,5.900000
25%,170.000000,76.000000,214.000000,269.000000,519.000000,6.800000,61.000000,76.000000,78.000000,7.000000
50%,200.000000,162.000000,334.000000,445.000000,773.000000,7.300000,68.000000,83.000000,86.000000,7.800000
75%,250.000000,371.000000,411.000000,705.000000,1132.000000,7.900000,72.000000,91.000000,92.000000,8.300000
max,444.000000,1224.000000,858.000000,1941.000000,2799.000000,8.400000,88.000000,96.000000,98.000000,8.700000

In [8]:
df.shape

(40, 16)

In [9]:
df.columns

Index(['MCU_Phase', 'Film_Title', 'US_Release_Date', 'Director_Names',
       'Screenwriter_Names', 'Producer_Names', 'Budget_Million_Dollars',
       'Opening_Weekend_WW_Million_Dollars',
       'Box_Office_US_CAN_Million_Dollars',
       'Box_Office_Other_Territories_Million_Dollars',
       'Box_Office_WW_Million_Dollars', 'IMDb_Rating', 'Metacritic_Score',
       'Tomatometer_Score', 'Audience_Score', 'Average_Score'],
      dtype='object')

In [10]:
df.drop(['MCU_Phase', 'Film_Title', 'US_Release_Date', 'Director_Names',
       'Screenwriter_Names', 'Producer_Names', 'Budget_Million_Dollars',
       'Opening_Weekend_WW_Million_Dollars',
       'Box_Office_US_CAN_Million_Dollars',
       'Box_Office_Other_Territories_Million_Dollars',
       'Box_Office_WW_Million_Dollars',], axis=1, inplace=True)

df.head()

,IMDb_Rating,Metacritic_Score,Tomatometer_Score,Audience_Score,Average_Score
0,7.9,79.0,94.0,91.0,8.6
1,6.6,61.0,67.0,69.0,6.6
2,6.9,57.0,72.0,71.0,6.7
3,7.0,57.0,77.0,76.0,7.0
4,6.9,66.0,80.0,75.0,7.3

In [11]:
df.isna().sum()

IMDb_Rating          7
Metacritic_Score     7
Tomatometer_Score    7
Audience_Score       7
Average_Score        7
dtype: int64

In [12]:
df.dropna(inplace=True)
df.isna().sum()

IMDb_Rating          0
Metacritic_Score     0
Tomatometer_Score    0
Audience_Score       0
Average_Score        0
dtype: int64

In [14]:
np.isinf(df).sum()

IMDb_Rating          0
Metacritic_Score     0
Tomatometer_Score    0
Audience_Score       0
Average_Score        0
dtype: int64

In [15]:
df

,IMDb_Rating,Metacritic_Score,Tomatometer_Score,Audience_Score,Average_Score
0,7.9,79.0,94.0,91.0,8.6
1,6.6,61.0,67.0,69.0,6.6
2,6.9,57.0,72.0,71.0,6.7
3,7.0,57.0,77.0,76.0,7.0
4,6.9,66.0,80.0,75.0,7.3
5,8.0,69.0,91.0,91.0,8.3
6,7.1,62.0,79.0,78.0,7.3
7,6.8,54.0,67.0,75.0,6.6
8,7.7,70.0,90.0,92.0,8.2
9,8.0,76.0,92.0,92.0,8.5
10,7.3,66.0,76.0,82.0,7.4
11,7.2,64.0,83.0,85.0,7.6
12,7.8,75.0,90.0,89.0,8.3
13,7.5,72.0,89.0,86.0,8.1
14,8.0,76.0,92.0,92.0,8.5
15,7.4,73.0,92.0,87.0,8.2
16,7.9,74.0,93.0,87.0,8.3
17,7.3,88.0,96.0,79.0,8.4
18,8.4,68.0,85.0,92.0,8.2
19,7.0,70.0,87.0,79.0,7.7
20,6.8,64.0,79.0,45.0,6.4
21,8.4,78.0,94.0,90.0,8.7
22,7.4,69.0,91.0,95.0,8.2
23,6.7,68.0,79.0,91.0,7.6
24,7.4,71.0,91.0,98.0,8.4
25,6.3,52.0,47.0,77.0,6.0
26,8.2,71.0,93.0,98.0,8.6
27,6.9,60.0,74.0,85.0,7.2
28,6.2,57.0,63.0,76.0,6.5
29,6.7,67.0,83.0,94.0,7.8
30,6.1,48.0,46.0,82.0,5.9
31,7.9,64.0,82.0,94.0,8.0
32,5.5,50.0,62.0,82.0,6.2

In [19]:
df.columns

Index(['IMDb_Rating', 'Metacritic_Score', 'Tomatometer_Score',
       'Audience_Score', 'Average_Score'],
      dtype='object')

In [20]:
X = df[['IMDb_Rating', 'Metacritic_Score', 'Tomatometer_Score',
       'Audience_Score']]
Y = df["Average_Score"]


X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, random_state=42)
Y_test

31    8.0
15    8.2
26    8.6
17    8.4
8     8.2
9     8.5
19    7.7
Name: Average_Score, dtype: float64

In [21]:
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)


model = Ridge(alpha=1.0)
model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

Y_pred

array([7.96349059, 8.15321828, 8.58435412, 8.45296513, 8.2178912 ,
       8.50917517, 7.66153567])